.course-container{
    display: inline-flex;
}
.course-card{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 250px;
    text-align: center;
}
.course-name{
    text-align: center;
}
.course-description{
    font-size: 12px;
    color: grey;
    margin: 10px 0px;
}
.details{
    display: flex;
    margin: 10px 0px;
}
.course-type{
    width: 50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}
.btn{
    width: 140px;
}