<div class="wrapper">
    <div class="app-nav"></div>
    <!-- <div app-nav></div> -->
    <!-- <app-nav></app-nav> -->
    <app-new-header></app-new-header>
    <app-header></app-header>
    <app-notification></app-notification>
    <app-search></app-search>
    <app-products></app-products>
    <app-courses></app-courses>
    <app-demo></app-demo>
    <app-customer-list #customer></app-customer-list>
    <p>You have selected {{customer.selectedCustomer?.Name }}</p>
    <!-- <app-customer-list></app-customer-list> -->
</div>