<div class="filter-container">
    <span>Filter: </span>
    
    <input type="radio" name="filter" value="All" 
    [(ngModel)] = "selectedRadioButton" 
    (change)="onRadioButtonChange()"
    />
    <span>All Courses ({{all}})</span>

    <input type="radio" name="filter" value="Free" 
    [(ngModel)] = "selectedRadioButton"
    (change)="onRadioButtonChange()"
    /> 
    <span>Free Courses ({{free}})</span>

    <input type="radio" name="filter" value="Premium" 
    [(ngModel)] ="selectedRadioButton"
    (change)="onRadioButtonChange()"
    /> 
    <span>Premium Courses ({{premium}})</span>
    
</div>