<div class="wrapper">
  <app-container></app-container>
</div>
<div>
  <label for="">DOB: </label>
  <input type="date" #dobInput (blur)="calculateAge()" name="" id="">
</div>
<div>
  <label for="">Age:</label>
  <input type="text" #ageInput>
</div>
<app-demo-new></app-demo-new>
{{ demoComp.sayHello() }}

<div class="container">
  <h2>New in smart phones</h2>
  <div class="more-products">
    <app-products-new>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Explore iPhone</button>
    </app-products-new>
    <app-products-new>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Explore Samsung</button>
    </app-products-new>
    <app-products-new>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Explore OnePlus</button>
    </app-products-new>
    <app-products-new>
      <h4 class="title">New in Google Pixel</h4>
      <button class="btn btn-more">Explore Google Pixel</button>
    </app-products-new>

  </div>
</div>